# Rename this file to env.sh in the same path on the system and edit the below variables
# You can read more at https://restic.readthedocs.io/en/latest/030_preparing_a_new_repo.html

export RESTIC_REPOSITORY="sftp:user@host:/srv/restic-repo"
export RESTIC_PASSWORD="letmein"
# Alternatively you can specify a password file
# export RESTIC_PASSWORD_FILE="/etc/restic/.password"
# NOTE: the password is *NOT* the ssh password, that must be an ssh key.
# The password is instead the password for the restic database.
